body{width: 100vw; height: 100vh; overflow: hidden;}

/*Estilos del menu*/
.menu{width: 100%; float: left; background-color: #3f4546;}
.botonMenu{height: 100%; margin: -0.2%; padding: 1%; display: inline-block; font-size: 1.8em; color: white;}
.botonMenu:hover{background-color: #3fbfe8; color: white;}
.botonMenuInicio{margin-left: 8%; /*background-color: #3fbfe8;*/}


/*Estilos del area de Trabajo*/
.container{width: 100%; height: 100%;}
.areaDeTrabajo{width: 100%; height: 90%; border: solid #3fbfe8 10px; background-color: white; margin-top: 5%; position: relative;}


/*Estilos de la parte de bloques*/
.areaBloques{width: 70%; height: 100%; border-right: solid #3fbfe8 10px; background-color: #3f4546; float: left; display: inline-block;
    position: relative; background-repeat: no-repeat; background-attachment: fixed; background-position: 65% 87%;
    background-size: 8%}
.papelera{width: auto; transform: scale(0.6); height: auto; position: absolute; right: 0; bottom: 0;}
.papeleraAbierta{src: url('../imgs/bin-abierta.png');}
.iconoMenuBloques{position: absolute; top: 0; left: 0; margin-left: 1%; font-size: 4.5em; cursor: pointer;}
.iconoMenuBloques:hover{color: white;}


/*Estilos de los menus de bloques*/
.menuBloques{height: 100%; width: 0; position: absolute; z-index: 1; top: 0; left: 0; background-color: #111; overflow-x: hidden; transition: 0.5s;}
.opcionMenuBloques{width: 100%; padding: 5%; text-decoration: none; font-size: 1.5em; color: white; float: left; clear: both; transition: 0.5s; overflow: hidden;
    cursor: pointer; border: none;}
.opcionMenuBloques:hover{transform: scale(1.2);}
.subOpcionMenuBloques{width: 100%; height: 0; float: left; clear: both; transition: 0.5s; cursor: pointer; overflow: hidden;}



/*Estilos de los bloques*/
.BloqueEnMenu{transform: scale(0.7);}
.BloqueArrastrable{ color: white; z-index: 0; position: absolute; /*border: solid black 2px;*/}
.ZonaDeAcople{width: 20px; height: 20px; position: absolute; margin-left: 25px; z-index: 0; border-radius:0 0 10px 10px; background-color: white;}
.EstructuraBasica{/*background-color: #da2b40;*/ width: 200px; height: 117px;}
.Funcion{background-color: #95f709; width: 160px; height: 80px;}
.Objeto{background-color: #feba34; width: 120px; height: 120px;}
.Variable{background-color: #0fc9c9; width: 80px; height: 40px;}



/*Estilos del area de codigo*/
.areaCodigoGen{width: 29%; height: 100%; float: left; display: inline-block;}
