/*Estilos del menu*/
.menu{width: 100%; float: left; background-color: #3f4546;}
.botonMenu{height: 100%; margin: -0.2%; padding: 1%; display: inline-block; font-size: 1.8em; color: white;}
.botonMenu:hover{background-color: #3fbfe8; color: white;}
.botonMenuInicio{margin-left: 8%; /*background-color: #3fbfe8;*/}


/*Estilos del area de Trabajo*/
.container{width: 90%}
.areaDeTrabajo{width: 100; height: 75vh; border: solid #3fbfe8 10px; background-color: white; margin-top: 10%; position: relative;}


/*Estilos de la parte de bloques*/
.areaBloques{width: 70%; height: 100%; border-right: solid #3fbfe8 10px; background-color: #3f4546; float: left; display: inline-block;
    position: relative; background-image: url('../imgs/bin.png'); background-repeat: no-repeat; background-attachment: fixed; background-position: 65% 87%;
    background-size: 8%}
.areaBloques:hover{background-image: url('../imgs/bin-abierta.png');}
/*.papelera{transform: scale(0.25); display: block; top: 0; left: 0; }*/
.iconoMenuBloques{position: absolute; top: 0; left: 0; margin-left: 1%; font-size: 4.5em; cursor: pointer;}
.iconoMenuBloques:hover{color: white;}


/*Estilos de los menus de bloques*/
nav.menuBloques{ -webkit-transition: margin 200ms ease-out; -moz-transition: margin 200ms ease-out; -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out; }
.navbar-nav .dropdown-menu { position: static; background-color: transparent; border: 0; -webkit-box-shadow: none;
    box-shadow: none; transition: 0.5s;}
.container-fluid, .navbar-collapse {margin: 0; padding: 0; }
li.dropdown{clear:both; }

.menuBloques{height: 95%; width: 0; position: absolute; z-index: 1; top: 0; left: 0; background-color: #111; overflow-x: hidden;
    transition: 0.5s; border: none; border-radius: 0 0 50px 0;}
.opcionMenuBloques{width: 100%; padding: 5%; text-decoration: none; font-size: 2em; color: white; display: block; transition: 0.5s;
    cursor: pointer; border: none;}
.opcionMenuBloques:hover{border-bottom: solid #3fbfe8 5px; border-right: solid #3fbfe8 5px; border-radius: 0 50% 0 0;}
.subOpcionMenuBloques{width: 100%; padding: 0; text-decoration: none; font-size: 1em; display: block;
    transition: 0.5s; cursor: pointer;}
.subOpcionMenuBloques:hover{transform: scale(1.2);}




/*Estilos del area de codigo*/
.areaCodigoGen{width: 29%; height: 100%; float: left; display: inline-block;}

/**/
.BloqueArrastrable{width: 100px; height: 100px; background-color: black; color: white; overflow: visible; z-index: 0; position: absolute; border: solid green 10px; border-right: none}
/**/
