@font-face {
    font-family: "SFLight";
    src: url(../fonts/SFUI_Light.otf);
}

@font-face {
    font-family: "SFNSDisplayThin";
    src: url(../fonts/SFNS_Display_Thin.ttf);
}

*{
    padding: 0;
    margin: 0;
    border: 0
}
body{
    background-color: #242038;
}

#title{
    font-family: "SFLight";
    color: #E5E3E3;
    font-size: 240%;
    margin-top: 2%;
}

#nav{
    background-color: #4B68E6;
    margin: 0;
    border: 0;
    height: 20%;
    padding: 1%;
}

#nave{
    width: 15%;
}